doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Booking Page
    // Bootstrap CSS
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    style.
      body {
        background-color: #000;
        color: #fff;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .container {
        padding: 20px;
      }
  body
    .container
      h1.mb-4 Book Appointment
      .row.justify-content-center
        .col-md-6
          .card
            .card-body
              p.card-text Service: Laser Name
              p.card-text Duration: Laser Time Minutes
              p.card-text Price: CA$ Laser Price
              // Booking form
              form(action=`/client/book/${laser._id}`, method="POST" style="color: black")
                .form-group
                  label(for="firstName" ) Name:
                  input#firstName.form-control(type="text", name="firstName")
                .form-group
                  label(for="lastName") Last Name:
                  input#lastName.form-control(type="text", name="lastName")
                .form-group
                  label(for="phoneNumber") Phone Number:
                  input#phoneNumber.form-control(type="text", name="phoneNumber")
                .form-group
                  label(for="email") Email:
                  input#email.form-control(type="email", name="email")
                .form-group
                  label(for="appointmentDate") Preferred Date and Time:
                  textarea#appointmentDate.form-control(name="appointmentDate", placeholder="Enter preferred date and time", rows="3")
                button.btn.btn-primary(type="submit") Book Appointment
              // Display validation errors if any
              if errors
                .alert.alert-danger.mt-4(role="alert")
                  ul
                    each error in errors
                      li= error.msg
