doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Laser Book Page
    // Bootstrap CSS
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    style.
      body {
        background-color: #000;
        color: #fff;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .container {
        padding: 20px;
      }
  body
    .container
      .row.justify-content-center
        .col-md-8
          .book-page
            h1.mb-4 Laser Book Page
            h2 WELCOME TO OUR BOOKING SITE
            h3.mt-4 Services
            ul.list-group
              each laser in lasers 
                li.list-group-item
                  p.mb-0(style="color: black")= `${laser.laserName} - ${laser.laserTime} Minutes @ CA$${laser.laserPrice}`
                  a.btn.btn-success.book-button(href=`/client/book/${laser._id}`) Book
